@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
  scroll-behavior: smooth;
}

.clip-nick {
  -webkit-clip-path: polygon(
    57.04% 11.76%,
    21.78% 30.51%,
    18.17% 42.65%,
    14.7% 49.07%,
    10% 60.88%,
    5.88% 67.27%,
    2.19% 72.88%,
    4.12% 81.14%,
    6.16% 86.29%,
    15.59% 98.34%,
    44.29% 96.73%,
    87.89% 71.83%,
    86.68% 52.96%,
    75.83% 15.32%
  );
  clip-path: polygon(
    57.04% 11.76%,
    21.78% 30.51%,
    18.17% 42.65%,
    14.7% 49.07%,
    10% 60.88%,
    5.88% 67.27%,
    2.19% 72.88%,
    4.12% 81.14%,
    6.16% 86.29%,
    15.59% 98.34%,
    44.29% 96.73%,
    87.89% 71.83%,
    86.68% 52.96%,
    75.83% 15.32%
  );
  border-radius: 0 0 0 0.25em;
}
